<div class="header">
    <nav class="navbar navbar-expand-md bg-dark navbar-dark">
        <div class="container">
            <div><a href="/" class="navbar-brand">Blossom</a></div>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="addSpace"></div>
                <div class="addSpace"></div>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/create">Create new</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
<div class="container mt-5">

    <body>
        <br />
        <h2><%= message %></h2>
        <br />
        <a href="/" class="btn btn-success">Home</a>
    </body>
    <br />
</div>